<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css">
    <title>Подать заявление</title>
</head>
    <body>
        <header class="header">
    <div class='container header__container'>
        <a href="/" class="header__logo">
            <picture><source srcset="/img/logo.png" type="image/webp"><img src="/img/logo.jpg" alt="Logo"></picture>
        </a>
        <nav class="header__nav">
            <ul class="header__menu">
                    <li class="header__menu-item"><a asp-controller="Home" asp-action="Profile" class="header__link">Профиль</a></li>
                    <li class="header__menu-item"><a href="#" class="header__link header__link_active">Подать заявление</a></li>
                    <li class="header__menu-item"><a asp-controller="Home" asp-action="List" class="header__link">Списки заявлений</a></li>
                    <li class="header__menu-item"><a href="/Home/Index" class="header__link">Выход</a></li>
            </ul>
        </nav>
    </div>
</header>
        <main>
            <section class="faculties">
                <div class='container'>
                    <div class="faculties__select-group">
                        <div class="faculties__select-item">
                            <label class="faculties__label" for="faculties__select">Факультет/институт</label>
                            <div class="faculties__select">
                                <select id="faculties__select">
                                @foreach (Faculty f in ViewBag.Fac)
                                {
                                    <option value="@f.IDFac">@f.Name</option>
                                }
                                </select>
                                <span class="focus"></span>
                            </div>
                        </div>
                    </div>
                    <div class="faculties__amount">
                        <div class="faculties__amount-img"><img src="./img/briefcase.svg" alt=""></div>
                        <div class="faculties__amount-num">10</div>
                        <div class="faculties__amount-name">Специальностей</div>
                    </div>
                    <table class="faculties__table">
                        <thead class="faculties__table-head">
                            <tr class="faculties__table-row">
                                <th class="faculties__table-header">Номер заявления</th>
                                <th class="faculties__table-header">Номер абитуриента</th>
                                <th class="faculties__table-header">Баллы ЕГЭ</th>
                                <th class="faculties__table-header">Приоритет</th>
                            </tr>
                        </thead>
                        <tbody class="faculties__table-body">
                            <tr class="faculties__table-row">
                                <td class="faculties__table-cell"># 31000-0012403742</td>
                                <td class="faculties__table-cell"># 31000-0012403742</td>
                                <td class="faculties__table-cell">300</td>
                                <td class="faculties__table-cell"><div class="faculties__table-flex-container">300<button class="faculties__table-btn">Подать заявление</button></div></td>
                            </tr>
                            <tr class="faculties__table-row">
                                <td class="faculties__table-cell"># 31000-0012403742</td>
                                <td class="faculties__table-cell"># 31000-0012403742</td>
                                <td class="faculties__table-cell">300</td>
                                <td class="faculties__table-cell"><div class="faculties__table-flex-container">300<button class="faculties__table-btn">Подать заявление</button></div></td>
                            </tr>
                            <tr class="faculties__table-row">
                                <td class="faculties__table-cell"># 31000-0012403742</td>
                                <td class="faculties__table-cell"># 31000-0012403742</td>
                                <td class="faculties__table-cell">300</td>
                                <td class="faculties__table-cell"><div class="faculties__table-flex-container">300<button class="faculties__table-btn">Подать заявление</button></div></td>
                            </tr>
                            <tr class="faculties__table-row">
                                <td class="faculties__table-cell"># 31000-0012403742</td>
                                <td class="faculties__table-cell"># 31000-0012403742</td>
                                <td class="faculties__table-cell">300</td>
                                <td class="faculties__table-cell"><div class="faculties__table-flex-container">300<button class="faculties__table-btn">Подать заявление</button></div></td>
                            </tr>
                            <tr class="faculties__table-row">
                                <td class="faculties__table-cell"># 31000-0012403742</td>
                                <td class="faculties__table-cell"># 31000-0012403742</td>
                                <td class="faculties__table-cell">300</td>
                                <td class="faculties__table-cell"><div class="faculties__table-flex-container">300<button class="faculties__table-btn">Подать заявление</button></div></td>
                            </tr>
                            <tr class="faculties__table-row">
                                <td class="faculties__table-cell"># 31000-0012403742</td>
                                <td class="faculties__table-cell"># 31000-0012403742</td>
                                <td class="faculties__table-cell">300</td>
                                <td class="faculties__table-cell"><div class="faculties__table-flex-container">300<button class="faculties__table-btn">Подать заявление</button></div></td>
                            </tr>
                            <tr class="faculties__table-row">
                                <td class="faculties__table-cell"># 31000-0012403742</td>
                                <td class="faculties__table-cell"># 31000-0012403742</td>
                                <td class="faculties__table-cell">300</td>
                                <td class="faculties__table-cell"><div class="faculties__table-flex-container">300<button class="faculties__table-btn">Подать заявление</button></div></td>
                            </tr>
                            <tr class="faculties__table-row">
                                <td class="faculties__table-cell"># 31000-0012403742</td>
                                <td class="faculties__table-cell"># 31000-0012403742</td>
                                <td class="faculties__table-cell">300</td>
                                <td class="faculties__table-cell"><div class="faculties__table-flex-container">300<button class="faculties__table-btn">Подать заявление</button></div></td>
                            </tr>
                            <tr class="faculties__table-row">
                                <td class="faculties__table-cell"># 31000-0012403742</td>
                                <td class="faculties__table-cell"># 31000-0012403742</td>
                                <td class="faculties__table-cell">300</td>
                                <td class="faculties__table-cell"><div class="faculties__table-flex-container">300<button class="faculties__table-btn">Подать заявление</button></div></td>
                            </tr>
                            <tr class="faculties__table-row">
                                <td class="faculties__table-cell"># 31000-0012403742</td>
                                <td class="faculties__table-cell"># 31000-0012403742</td>
                                <td class="faculties__table-cell">300</td>
                                <td class="faculties__table-cell"><div class="faculties__table-flex-container">300<button class="faculties__table-btn">Подать заявление</button></div></td>
                            </tr>
                            <tr class="faculties__table-row">
                                <td class="faculties__table-cell"># 31000-0012403742</td>
                                <td class="faculties__table-cell"># 31000-0012403742</td>
                                <td class="faculties__table-cell">300</td>
                                <td class="faculties__table-cell"><div class="faculties__table-flex-container">300<button class="faculties__table-btn">Подать заявление</button></div></td>
                            </tr>
                            <tr class="faculties__table-row">
                                <td class="faculties__table-cell"># 31000-0012403742</td>
                                <td class="faculties__table-cell"># 31000-0012403742</td>
                                <td class="faculties__table-cell">300</td>
                                <td class="faculties__table-cell"><div class="faculties__table-flex-container">300<button class="faculties__table-btn">Подать заявление</button></div></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </main>
        <script src="js/app.min.js?_v=20230605182926"></script>
    </body>
</html>